:root {
	--font-size: 1em;
}

@font-face {
	font-family: "ubuntumono";
	src: url("../font/ubuntumono.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	width: calc(100% - 1em);
	height: calc(100% - 1em);
	background: #1c1c1c;
	padding: 0.5em;
	overflow-x: hidden;
	overflow-y: scroll;
}

* {
	color: #ddd;
	font-size: var(--font-size);
	font-family: "ubuntumono";
	cursor: text;
}

form {
	width: 100%;
	display: flex;
}

input[type=text] {
	background: #1c1c1c;
	flex: 1;
}

p {
	margin: 0;
	width: 100%;
	word-wrap: break-word;
}

.in {
	padding-left: 0.5em;
	border: none;
	outline: none;
}
