:root {
	--font-size: 1em;
}

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
	font-family: "ubuntumono";
	src: url("../font/ubuntumono.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background: #1c1c1c;
	color: #ddd;
	font-family: "ubuntumono";
	font-size: var(--font-size);
}

* {
	user-select: none;
	cursor: default;
}

.lore {
	margin: 1em;
}

.lore::after {
	content: "_";
	animation: blink 1s infinite;
}

.noblink::after {
	content: "";
	animation: none;
}

.red {
	color: #930;
}

.blue {
	color: #039;
}

@keyframes blink {
	0% { }

	49% { }
	50% {
		color: transparent;
	}

	100% {
		color: transparent;
	}
}