:root {
	--font-size: 1em;
}

@font-face {
	font-family: "ubuntumono";
	src: url("../font/ubuntumono.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background: #1c1c1c;
	color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "ubuntumono";
	font-size: var(--font-size);
}

.menucont {
	width: 60%;
	height: 60%;
}

.btn {
	width: 128px;
	height: 32px;
	margin: 0.5em;
	padding: 0.2em;
	background: rgba(255, 255, 255, 0.1);
	transition: margin-left 0.2s;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.btn * {
	margin: 0;
	cursor: pointer;
}

.btn::before {
	content: "";
	width: 1em;
	height: 100%;
	margin-right: 0.5em;
}

.primary::before { background: #170; }
.info::before { background: #139; }
.gray::before { background: #555; }
.warning::before { background: #931; }

.btn:hover {
	margin-left: 2em;
}
